<div class="table__footer">
    <div>
        <select name="cars" id="cars">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
    </div>
    <div class="table__footer_size">
        Size
    </div>
    <div class="table__footer_info">
        Text
    </div>
    <div class="table__footer_actions">
        <button>First</button>
        
        <button>Back</button>
        
        <button>Next</button>
        
        <button>Last</button>
    </div>
</div>