<div class="table__paging">
    <div>
        <select #dimensions (change)="changePageSise(dimensions.value)">
            <option *ngFor="let sise of pageSiseList" [value]="sise">
                {{ sise }}
            </option>
          </select>
    </div>
    <div class="table__paging_info">
        {{ (page * pageSise - pageSise + 1) }} – 
        {{ ((lenght && (page * pageSise > lenght)) ? lenght : page * pageSise) }} из 
        {{ lenght }}
    </div>
    <div class="table__paging_actions">
        <div class="table__paging_action" (click)="goToFirstPage()">
            <img src="assets/img/svg/first.svg">
        </div>

        <div class="table__paging_action" (click)="goToBackPage()">
            <img src="assets/img/svg/back.svg">
        </div>

        <div class="table__paging_action" (click)="goToNextPage()">
            <img src="assets/img/svg/next.svg">
        </div>

        <div class="table__paging_action" (click)="goToLastPage()">
            <img src="assets/img/svg/last.svg">
        </div>
    </div>
</div>