.table__header {
    width: auto;
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0; 
    z-index: 1;

    .table__header_col {
        display: flex;
        flex-direction: row;
        background-color: white;
        margin: 0 1px;

        .table__header_col_item {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 12px 0px;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: #0000001f;

            .table__header_col_item_title {
                display: flex;
                justify-content: center;
                margin: 4px 0px;
                width: 100%;
            }

            .table__header_col_item_search {
                display: flex;
                justify-content: center;
                width: 100%;

                input {
                    width: 80%;
                    height: 20px;
                }
            }
        }
    }
}