.table__body {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: max-content;
    overflow-y: auto;

    .table__body_row {
        display: flex;
        flex-direction: row;
        min-height: 50px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #0000001f;

        .table__body_item {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1px;
        }
    }
}
